{% extends "header.html" %}

{% block body %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="card text-white bg-primary mb-3" style="margin-top: 100px">
            <div class="card-header">Urgent Support</div>
            <div class="card-body">
                <h5 class="card-title"> 510-573-7253</h5>
                <p class="card-text">We have a representatives ready 24/7 to answer and help any issues that arise for
                    your travels</p>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Universal concerns</div>
            <div class="card-body">
                <h5 class="card-title"> EliteAirport@gmail.com</h5>
                <p class="card-text"> We have staff that check email every hour for your concerns</p>
            </div>
        </div>

    </div>
</div>


{% endblock %}
